<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css ">
    <title>Title</title>
</head>
<body>
    <div class="conteiner">
        <nav class="nav_menu">
            <ul class="nav_link">
                <li class="link_menu">
                    <a href="http://127.0.0.1:8000/index.html" class="link">Главная</a>
                </li>
                <li class="link_menu">
                    <a href="http://127.0.0.1:8000/abaut.html" class="link">О нас</a>
                </li>
            </ul>
        </nav>
        {body}
    </div>
</body>
</html>