<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <nav class="nav">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8100/index.html">Главная</a>
            <a class="nav-link" href="http://127.0.0.1:8100/sign_in.html">Вход</a>
            <a class="nav-link" href="http://127.0.0.1:8100/registration.html">Регистрация</a>
        </nav>
        {body}
    </div>
</body>
</html>